SUPABASE_URL="https://lgrdgueaxpfvykksould.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxncmRndWVheHBmdnlra3NvdWxkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDU5OTc2NTEsImV4cCI6MjAyMTU3MzY1MX0.DYdegZQ7v-rjORYB84xl5RbfqAwpaExjr5suVPUf48g"
DATABASE_URL="postgres://postgres.lgrdgueaxpfvykksould:VsWWGy2IqGbl2JEA@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"